* {
  box-sizing: border-box;
}

body {
  height: 100;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: steelblue;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22;

}

#markers {
  display: grid;
  grid-template-columns: repeat(7, 10.5vmin);
  align-content: center;
  gap: 2 vmin;
  margin-top: 2vmin;
}

#markers > div {
  height: 12vmin;
  border-width: 6vmin;
  border-style: solid;
  border-color: lightgray transparent transparent;
  transform: scale(0.7);
}

#markers > div:hover {
  transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: rgb(220, 139, 17);
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  gap: 2vmin;
  margin-top: -3vmin;
}

#board > div {
  border-radius: 50%;
  border: 0.1vmin solid grey;
}
.playbtn {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

   