  html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }

    body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
   }

   #markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    gap: 2vmin;
    margin-top: 2vmin;
  }
  
  #markers > div {
    height: 8vmin;
    border-width: 8vmin;
    border-style: solid;
    border-color: lightgray transparent transparent;
    transform: scale(0.4);
  }

  #markers > div:hover {
    transform: scale(0.5);
    transition: transform 150ms ease-in;
    border-top-color: darkgray;
  }
   .gameboard {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    border: 2px solid black;
    margin: 0 auto;
    justify-content: center;
    background-color: darkgray;
   }
    
   .slot {
    margin: 2vmin;
    border-radius: 50%;
    border: 2px solid black;
    background-color: burlywood;
   }

   .playbtn {
      padding: 4px;
      margin-top: 4px;
    }

   