  html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }

    body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .gameboard {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    border: 2px solid black;
    margin: 0 auto;
    justify-content: center
   }
    
   .slot {
    margin: 2vmin;
    border-radius: 50%;
    border: 2px solid black;
   }

   .playbtn {
      padding: 4px;
      margin-top: 4px;
    }

   